.competences-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5%;
}

.competence {
  text-align: center;
  justify-content: center;
  justify-self: center;
  width: calc(33.33% - 10px); 
  margin-top: 40px;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5%;
}

.modalC {
  width: 800px;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10%;
  margin-left: auto;
  margin-right: auto;
}

