
.nav-main {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-main h1 {
    margin: 0;
  }
  
  .nav-main a {
    text-decoration: none;
    color: white;
  }
  
  .nav-main a:hover {
    color: #000000;
  }
  
  .nav-link {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .nav-link:hover {
    transform: scale(1.1);
  }
  
  .nav-link:active {
    transform: scale(0.9);
  }

  .nav-linker {
    display: flex;
  }

  .nav-title {
    font-size: 30px;
  }