
.nav-main {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-main h1 {
    margin: 0;
  }
  
  .nav-main a {
    text-decoration: none;
    color: white;
  }
  
  .nav-main a:hover {
    color: #000000;
  }
  
  .nav-link {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .nav-link:hover {
    transform: scale(1.1);
  }
  
  .nav-link:active {
    transform: scale(0.9);
  }

  .nav-linker {
    display: flex;
  }

  .nav-title {
    font-size: 16px;
  }

.burger-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.nav-open .nav-linker {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  font-size: 20px;
  width: 100%;
  background-color: #333;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .nav-linker {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    text-align: center;
  }

  .burger-icon {
    display: flex;
  }

  .bar.animate:nth-child(1) {
    transform: rotate(-45deg) translate(-13px, 6px);
  }

  .bar.animate:nth-child(2) {
    opacity: 0;
  }

  .bar.animate:nth-child(3) {
    transform: rotate(45deg) translate(-12.5px, -6px);
  }

  .nav-open .nav-linker {
    display: flex;
  }
}
