.about-section,
.projects-section,
.contact-section {
  margin-top: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.project {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 5%;
  transition: box-shadow 0.3s ease-in-out;
}

.project:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project h3 {
  margin: 0;
  padding: 15px;
  background-color: #333;
  color: #fff;
}

.project p {
  padding: 15px;
  margin: 0;
}
