body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

.app {
  width: 100%;
}

.stages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.stage {
  width: 80%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
}

h2 {
  color: #333;
  margin-bottom: 5px;
}

.role {
  color: #555;
}

.duration {
  color: #555;
  margin-bottom: 10px;
}

p {
  color: #555;
}

.tasks {
  margin-top: 10px;
}

.tasks strong {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.tasks ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tasks li {
  display: inline-block;
  margin-right: 10px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}